body {
    background-color: #093246;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

a {
  color: #96B7CC;
}

p {
    color: #96B7CC;
    font-family: "Open Sans";
    width: 900px;
}

path { /* css styles for the lines on our graph */
  stroke-width: 1.3;
  fill: none;
}

select {
    margin: 20px 60px 20px 0px;
    padding: 5px 8px;
    border: 1px solid #ccc;
    box-shadow: none;
    background-color: #E2DCDC;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}

/* source: http://zurb.com/playground/radioactive-buttons */
@-webkit-keyframes pulsate {
  from { 
    fill: #fff; -webkit-box-shadow: 0 0 9px #fff; 
    opacity: 0;
  }
  50% { fill: #4ecff4; -webkit-box-shadow: 0 0 18px #4ecff4; 
      opacity: 1.0;
  }
  to { fill: #fff; -webkit-box-shadow: 0 0 9px #fff;
      opacity: 0;
  }
}

.annotation {
  border-style: solid;
  border-radius:50px;
  -webkit-animation-name: pulsate;
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}

.annotation:hover {
    opacity: 1;
    r: 12px;
    fill: #4ecff4;
    -webkit-animation-duration: 0s; /* turn off blinking */
    -webkit-transition: r 1s;   /* time it takes to enlarge to size r */
}

.axis path, /* css styles for the axis */
.axis line {
    fill: none;
    stroke: #96B7CC;
    stroke-width: 1;
}

.axis text { /* css styles for the axis text */
  font: 10px "Open Sans";
  fill: #96B7CC;
}

.container {
    height: 900px;
    width: 80%;
    margin: 150px;
    margin-top: 30px;
}

.tick text {
    font-size: 20px;
}

.tick line {
    opacity: 0.2;
}

.tooltip {
    position: relative;
    width: 200px;
    height: 20px;
    font-family: Helvetica;
    text-align: left;
    color: #96B7CC;
    pointer-events: none;
    font-size: 14px;
}
 
#annotation-area {
  position: absolute;
  height: 100%;
  width: 200px;
  top: 400px;
  right: 100px;
} 

#chart {
    width: 700px;
    height: 400px;
}

#graph-top {
    height: 10%;
    width: 100%;
}

#graph-title {
    margin-top: 20px;
    color: #96B7CC;
    font-family: "Open Sans";
    font-size: 1.7em;
    height: 100%;
}

#title {
    width: 70%;
    color: #96B7CC;
    font-family: "Open Sans";
    font-size: 1.5em;
}