body {
    font-family: Inconsolata, monospace;
    color: #408cff;
    background-color: rgb(0,0,80);
}

a {
    color: #408cff;
    text-decoration: none;
}

a:hover, a.index-link:hover {
    cursor: pointer;
    color: #F5F53B;
}

a.index-link {
    color: #A9DFF5;
}

p {
    color: #A9DFF5;
}

.container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.section {
    font-size: 50px;
    margin-bottom: 20px;
}

.header {
    border-color: #408cff;
    border-bottom-style: solid;
    border-width: .5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* orange: FE6A38;
   red: F83C4D;
*/